<h1>Listing expertises</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Uid</th>
    <th>Type</th>
    <th>Version</th>
    <th>Author</th>
    <th>Run</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @expertises.each do |expertise| %>
  <tr>
    <td><%= expertise.id %></td>
    <td><%= expertise.uid %></td>
    <td><%= expertise.type %></td>
    <td><%= expertise.version %></td>
    <td><%= expertise.author %></td>
    <td><%= expertise.run_id %></td>
    <td><%= expertise.name %></td>
    <td><%= link_to 'Show', expertise %></td>
    <td><%= link_to 'Edit', edit_expertise_path(expertise) %></td>
    <td><%= link_to 'Destroy', expertise, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Expertise', new_expertise_path %>
