<h1>Listing allowed_question_tags</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Tag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @allowed_question_tags.each do |allowed_question_tag| %>
  <tr>
    <td><%= allowed_question_tag.question_id %></td>
    <td><%= allowed_question_tag.tag_id %></td>
    <td><%= link_to 'Show', allowed_question_tag %></td>
    <td><%= link_to 'Edit', edit_allowed_question_tag_path(allowed_question_tag) %></td>
    <td><%= link_to 'Destroy', allowed_question_tag, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Allowed question tag', new_allowed_question_tag_path %>
